:root {
  --dark: #2f2f2f;
  --light: #f3f9d2;
  --highlight-blue: #96adc8;
  --highlight-yellow: #fcda1d;
  --highlight-orange: #f24c00;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--light);
    background: var(--dark);
  }
  a {
    color: var(--highlight-blue)
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--dark);
    background: var(--light);
  }
  a {
    color: var(--highlight-blue)
  }
}

body {
  padding: 5% 10%;
  font: 2em "DejaVu Sans", sans-serif;
}

h1 {
  color: var(--highlight-blue)
}

ul {
    list-style-type: none;
}

ul > li {
    position: relative;
}

ul > li:before {
    content: "\2022"; /* Bullet character for outer list */
    position: absolute;
    left: -30px; /* Adjust as needed */
    scale: 150%;
    color: var(--highlight-orange); /* Color for outer bullet points */
}

ul ul > li:before {
    content: "\25E6"; /* Bullet character for inner list */
    color: var(--highlight-yellow); /* Color for inner bullet points */
}
